*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html body{
  background-color: #3f3e3e;
  color: #fff;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 100px;
  
}
input{
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
}
button{
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}